<ion-content scroll-y="false">
  <h1 class="title">My Day</h1>

    <div class="list">
      <ion-list lines="none">
          <div *ngFor="let task of taskList; index as i" class="task">
            <ion-label class="name">{{task}}</ion-label>
          </div>
      </ion-list>
    </div>

    <ion-item lines="none" class="add-item">
      <ion-input placeholder="Start typing..." [(ngModel)]="task"></ion-input>
        <ion-button icon-only (click)="addItem()">
          <ion-icon name="arrow-up"></ion-icon>
        </ion-button>
    </ion-item>

</ion-content>
