<ion-content>
  <div class="background">
    <h1 class="subtitle">Today's gonna be a</h1> <span class="title">Slam Dunk!</span>
    <img class="graphic" src="assets/dunkit.png">
  </div>
  <div class="tasks">
    <h3 class="subtitle">Our recommended tasks for the day</h3>
    <ion-card class="task">
      <ion-card-header>
        <ion-card-subtitle>Yesterday</ion-card-subtitle>
        <ion-card-title>Send email to Nick</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods.
      </ion-card-content>
    </ion-card>
    <ion-card class="task">
      <ion-card-header>
        <ion-card-subtitle>Monday</ion-card-subtitle>
        <ion-card-title>Setup doctor's appointment</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods.
      </ion-card-content>
    </ion-card>
    <ion-card class="task">
      <ion-card-header>
        <ion-card-subtitle>5 Days Ago</ion-card-subtitle>
        <ion-card-title>Get a dog sitter</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods.
      </ion-card-content>
    </ion-card>

    <ion-button class="myday" routerLink="">
      Add All
    </ion-button>
  </div>
</ion-content>
