// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

.task-item {
    --padding-top: 10px;
    --padding-bottom: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.list {
    flex-grow: 1;
}
ion-item-option {
    width: 4rem;
}